<%= form_with(model: leitura, local: true) do |form| %>
  <% if leitura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(leitura.errors.count, "error") %> prohibited this leitura from being saved:</h2>

      <ul>
      <% leitura.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :livro_id %>
    <%= form.text_field :livro_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
