<p id="notice"><%= notice %></p>

<p>
  <strong>G1:</strong>
  <%= @prova.g1 %>
</p>

<p>
  <strong>G2:</strong>
  <%= @prova.g2 %>
</p>

<p>
  <strong>Prova livro:</strong>
  <%= @prova.prova_livro %>
</p>

<p>
  <strong>Sub g1:</strong>
  <%= @prova.sub_g1 %>
</p>

<p>
  <strong>Sub g2:</strong>
  <%= @prova.sub_g2 %>
</p>

<p>
  <strong>Disciplina:</strong>
  <%= @prova.disciplina %>
</p>

<%= link_to 'Edit', edit_prova_path(@prova) %> |
<%= link_to 'Back', provas_path %>
