<p id="notice"><%= notice %></p>

<h1>Chamadas</h1>

<table>
  <thead>
    <tr>
      <th>Curso</th>
      <th>Disciplina</th>
      <th>Aluno</th>
      <th>Data</th>
      <th>Presenca</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chamadas.each do |chamada| %>
      <tr>
        <td><%= chamada.curso %></td>
        <td><%= chamada.disciplina %></td>
        <td><%= chamada.aluno %></td>
        <td><%= chamada.data %></td>
        <td><%= chamada.presenca %></td>
        <td><%= link_to 'Show', chamada %></td>
        <td><%= link_to 'Edit', edit_chamada_path(chamada) %></td>
        <td><%= link_to 'Destroy', chamada, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chamada', new_chamada_path %>
